<h1 class="mt-5">Selectores anidados</h1>
<hr />

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <!-- Regiones -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente</label>
      <select class="form-control" formControlName="region">
        <option value="">-- Seleccione el continente --</option>
        <option [value]="region | lowercase" *ngFor="let region of regiones">
          {{ region }}
        </option>
      </select>
    </div>
  </div>

  <!-- Paises -->
  <div class="row mb-3" *ngIf="paises.length > 0">
    <div class="col">
      <label for="" class="form-label">Paises</label>
      <select class="form-control" formControlName="pais">
        <option value="">-- Seleccione el pais --</option>
        <option [value]="pais.cca3 | lowercase" *ngFor="let pais of paises">
          {{ pais.name.common }}
        </option>
      </select>
    </div>
  </div>

  <!-- Fronteras -->
  <div class="row mb-3" *ngIf="paisesFrontera.length > 0">
    <div class="col">
      <label for="" class="form-label">Fronteras</label>
      <select class="form-control" formControlName="frontera">
        <option value="">-- Seleccione el pais fronterizo --</option>
        <option [value]="pais | lowercase" *ngFor="let pais of paisesFrontera">
          {{ pais }}
        </option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="cargando">
    <div class="col">
      <div class="alert alert-primary">Cargando...</div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">
        Seleccionar
      </button>
    </div>
  </div>
</form>

<h3>Formulario</h3>
<pre> Valid: {{ miFormulario.valid }}</pre>
<pre> Value: {{ miFormulario.value | json }}</pre>
